
<h2>会員情報編集 <%#= resource_name.to_s.humanize %></h2>

<%= form_with(model: @customer, url: customers_infomation_path, local: true) do |f| %>

  <h4>メールアドレス</h4>
     <%= f.email_field :email %>

  <h4>パスワード</h4>
     <%= f.password_field :password %>


     <%= f.submit '変更' %>

<% end %>

<h4><%= link_to '退会する方はこちら', customers_unsubscribe_path %></h4>

