
<h2>ゲストログイン</h2>


<p>体調記録表</p>
#複数のグラフ

<%= line_chart @records.map { |record|
    {name: record.start_time, data: record.body_weight }
} %>

<p>活動、睡眠記録表</p>
#縦棒グラフ
<%= column_chart Order.group_by_day_of_week(:created_at, format: "%a").count %>



<%= form_with(model: @customer, url: customers_guest_path, local: true) do |f| %>
  <h4>日付</h4>
  <%= f.date_field :start_time %>
  <h4>体重</h4>
  <%= f.number_field :body_weight %>kg
  <h4>体温</h4>
  <%= f.number_field :temperature %>℃
  <h4>脈拍</h4>
  <%= f.number_field :pulse %>回/分
  <h4>血圧</h4>
  <%= f.number_field :max_blood_pressure %>/<%= f.number_field :min_blood_pressure %>mmhg
  <h4>SPO2</h4>
  <%= f.number_field :saturation %>%

  <h4>運動時間</h4>
  <%= f.number_field :exercise_time %>時間
  <h4>睡眠</h4>
  <%= f.number_field :hours_of_sleep %>時間


  <%= f.submit  '登録' %>

<% end %>