<h1>Public::NextMedicalCheckupDateList#new</h1>
<p>Find me in app/views/public/next_medical_checkup_date_list/new.html.erb</p>
#次回受診日

<%= form_with(model: @next_medical_checkup_date_list, local: true) do |f| %>

  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

    <div class="time">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>


  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>