
<h2>次回受診日 入力欄</h2>

<%= form_with(model: @next_medical_checkup_date_list, local: true) do |f| %>

  <div class="title">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

    <div class="time">
    <%= f.label :日時 %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :備考 %>
    <%= f.text_field :body %>
  </div>


  <div class="登録">
    <%= f.submit %>
  </div>

<% end %>