
<h2>美容　豆知識</h2>

<% @beauty_nutrition_knowledge.each do |beauty_nutrition_knowledge| %>

<p>ジャンル名</p>
<span><%= beauty_nutrition_knowledge.genre %></span>


<p>タイトル</p>
<span><%= beauty_nutrition_knowledge.title %></span>


<p>内容</p>
<span><%= beauty_nutrition_knowledge.content %></span>


<h2>栄養　豆知識</h2>


<p>ジャンル名</p>
<span><%= beauty_nutrition_knowledge.genre %></span>

<p>タイトル</p>
<span><%= beauty_nutrition_knowledge.title %></span>

<p>内容</p>
<span><%= beauty_nutrition_knowledge.content %></span>

<% end %>