
<p>処方薬</p>
<%= form_with model: @prescriptionlist, url: '/prescription_lists', method: :post do |f| %>
  <h4>薬品名</h4>
  <%= f.text_field :chemical_name %>
  <h4>処方日付</h4>
  <%= f.date_field :prescription_period %>kg
  <h4>備考</h4>
  <%= f.text_area :note %>


  <%= f.submit  '登録' %>

<% end %>