
<h2>処方薬 など定期服用中の内容記録</h2>
<%= form_with model: @prescription_list, method: :post do |f| %>
  <h4>薬品名</h4>
  <%= f.text_field :chemical_name %>
  <h4>処方日付</h4>
  <%= f.date_field :prescription_period %>
  <h4>備考</h4>
  <%= f.text_area :note %>


  <%= f.submit  '登録' %>
<% end %>