<h1>Public::HealthRecord#new</h1>
<p>Find me in app/views/public/health_record/new.html.erb</p>

<p>体調記録表</p>

<%= form_with(model: @customer, url: health_record_health_records_new_path, local: true) do |f| %>
  <h4>日付</h4>
  <%= f.date_field :start_time %>
  <h4>体重</h4>
  <%= f.number_field :body_weight %>kg
  <h4>体温</h4>
  <%= f.number_field :temperature %>℃
  <h4>脈拍</h4>
  <%= f.number_field :pulse %>回/分
  <h4>血圧</h4>
  <%= f.number_field :max_blood_pressure %>/<%= f.number_field :min_blood_pressure %>mmhg
  <h4>SPO2</h4>
  <%= f.number_field :saturation %>%



  <%= f.submit  '登録' %>

<% end %>