<h1>Admin::Customers#index</h1>
<p>Find me in app/views/admin/customers/index.html.erb</p>

<h2>会員一覧</h2>
<%= @customers.each do |customer| %>

<p>会員ID</p>
<span><%= customer.id%></span>

<p>会員名</p>
<span><%= customer.last_name%></span><span><%= customer.first_name%></span>

<p>メールアドレス</p>
<span><%= customer.%></span>

<p>会員ステータス</p>
   <% if customer.is_deleted %>
   <p>有効</p>
    <% else %>
    <p>退会</p>
    <% end %>




<h2>ゲストログイン一覧</h2>

<p>ゲストID</p>
<span><%= customer.id%></span>

<p>ゲスト名</p>
<span><%= customer.guest%></span>


<% end %>