<h1>Admin::CookingMenuList#show</h1>
<p>Find me in app/views/admin/cooking_menu_list/show.html.erb</p>
<h2>食事メニュー詳細画面</h2>


<h4>タイトル</h4>
<p><%= @cooking_menu_list.title %></p>

<h4>何人前</h4>
<p><%= @cooking_menu_list.for_how_meny_people %></p>

<h4>材料</h4>
<p><%= @cooking_menu_list.material %></p>

<h4>作り方</h4>
<p><%= @cooking_menu_list.way_of_making %></p>


<%= link_to "編集", edit_admin_cooking_menu_list_path(@cooking_menu_list.id) %>
<%= link_to "削除", admin_cooking_menu_list_path(@cooking_menu_list.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>