<h2>このサイトはポートフォリオ用のテストサイトです。長期的な利用はできません。サイトが閉鎖される可能性があります。</h2>


<h2>会員ログイン</h2>

<%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>


<h2>会員登録がお済でない方は</h2>
  <div><%= link_to "こちら", new_customer_registration_path %>から新規登録をおこなってください。</div>
<h2>見本は</h2>
  <div><%= link_to "こちら", customers_guest_path %>をクリックしてください。</div>


<%= flash[:error] %>
<%#= render "public/shared/links" %>
