
<h2>服用チェックカレンダー　入力欄</h2>


<%= form_with(model: @dosage_record_sheet, local: true) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="title">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

    <div class="time">
    <%= f.label :日時 %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :備考 %>
    <%= f.text_field :content %>
  </div>


  <div class="登録">
    <%= f.submit %>
  </div>

<% end %>